{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"><span class="text-green-500">Dr. {{ request.user }}'s </span>Appointments</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Banh mi cornhole echo park skateboard authentic crucifix neutra tilde lyft biodiesel artisan direct trade mumblecore 3 wolf moon twee</p>
            <h3 class="py-5 text-2xl font-semibold ">
              Department: 
              <span class="px-2 text-2xl py-1 px-4 inline-flex font-semibold rounded-full bg-red-100">
                {{ request.user.speciality }}
            </span>
            </h3>
        </div>
        <div class="w-full mx-auto overflow-auto">
        {% include 'partials/_alerts.html' %}
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Name</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">email</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">phone</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">gender</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">date</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Nurse</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">status</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Diagnosis</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Prescription</th>
              <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
              <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
              <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
            </tr>
          </thead>
          <tbody>
            {% for app in appointments %}
            <tr>
              <td class="border-t-2 border-gray-200 px-4 py-3">{{ app.name }}</td>
              <td class="border-t-2 border-gray-200 px-4 py-3">{{ app.email }}</td>
              <td class="border-t-2 border-gray-200 px-4 py-3">{{ app.phone }}</td>
              <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">{{ app.gender }}</td>
              <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">{{ app.date }}</td>
              <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">{{ app.nurse }}</td>
              <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">
                  {% if app.status.name == 'Not Prescribed' %}
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-green-800">
                        {{ app.status }}
                    </span>
                  {% endif %}
                  {% if app.status.name == 'Prescribed' %}
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      {{ app.status }}
                  </span>
                {% endif %}
              </td>
              <td>{{ app.prescription.diagnosis }}</td>
              <td>{{ app.prescription.prescription }}</td>
              <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">
                <a href="{% url 'send-email' app.pk %}">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-500 text-white">
                     Prescribe
                  </span>
                </a>
              </td>
              <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">
                  <a href="{% url 'appointment-detail' app.pk %}">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-indigo-500 text-white">
                       Edit
                    </span>
                  </a>
              </td>
              <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">
                <a href="{% url 'appointment-delete' app.pk %}">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-500 text-white">
                     Delete
                  </span>
                </a>
            </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock content %}