{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"><span class="text-green-500">Edit</span> Appointment</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep.</p>
      </div>
      <div class="lg:w-2/3 w-full flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="relative flex-grow w-full py-5">
              <label for="full-name" class="leading-7 text-sm text-gray-600">Status</label>
              {{ form.status }}
            </div>
            <div class="relative flex-grow w-full mb-5">
              <label for="full-name" class="leading-7 text-sm text-gray-600">Nurse</label>
              {{ form.nurse }}
            </div>
            <button type='submit' class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Save</button>
        </form>
      </div>
    </div>
</section>
{% endblock content %}